.badge {
  display: inline-block;
  padding: 0.2rem 0.6rem;
  border-radius: 9999px;
  font-size: 0.64rem;
  font-weight: 600;
}
.primary {
  background-color: var(--primary);
  color: var(--background);
}
.success {
  background-color: var(--success);
  color: var(--background);
}
.danger {
  background-color: var(--danger);
  color: var(--background);
}
.warning {
  background-color: var(--warning);
  color: var(--background);
}
