.navContainer {
  padding: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.4rem;
  /* margin-bottom: 0.8rem; */
}
.link,
.link:visited {
  text-transform: capitalize;
  font-size: 1rem;
  color: var(--foreground);
  text-decoration: none;
  position: relative;
  display: block;
  &:before {
    content: "";
    border-bottom: solid 1px var(--primary);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    opacity: 0;
  }
}
.link,
.link:before {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.link:hover {
  color: var(--primary);
  &:before {
    opacity: 1;
  }
}
.link.active {
  color: var(--primary);
  &:before {
    opacity: 1;
  }
}
