.link,
.link:visited {
  text-transform: capitalize;
  font-size: 1rem;
  color: #191917;
  text-decoration: none;
  position: relative;
  display: block;
  &:before {
    content: "";
    border-bottom: solid 1px var(--primary);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    opacity: 0;
  }
}
.link,
.link:before {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.link:hover {
  color: var(--primary);
  &:before {
    opacity: 1;
  }
}
.link.active {
  color: var(--primary);
  &:before {
    opacity: 1;
  }
}
